body{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: black;
    font-family: sans-serif;
}
h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}
p{
    font-size: 1.5rem;
}
header > img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 30px;
}
footer > div > a > img {
    width: 40%;
    margin-top: 30px;
    padding-left: 30px;
}
nav {
    border: solid 1px white;
    width: 800px;
    margin: auto;
}
nav ul {
    list-style: none;
    text-align: center;
    font-size: 2rem;
}
nav li {
    display: inline-block;
    margin-right:20px;
    margin-left: 20px;
}
a:visited{
    color: aqua;
}
section {
    display: flex;
    margin-top: 50px;   
}
article {
    flex: 1;
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    box-shadow: 4px 4px 10px white ;
}
article:hover{
    box-shadow: none;
}
hr{
    border-top: solid white;
}
footer{
    display: flex;
    margin-top: 50px;

}
footer > div{
    flex: 1;
    background-color: black;  
}
footer > div > p{
    color: white;
}
.card {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
   
}
.card > img {
    padding-left: 25%;
    width: 200px;
    height: 200px;
}
